<app-header></app-header>
<div class="body-home">
    <div class="card-deck">
        <div class="card border-dark bg-light mb-3">
            <img class="card-img-top" src="assets/images/personagem-sw.jpg" alt="Imagem Personagem">
            <div class="card-body">
                <h5 class="card-title">Personagens</h5>
                <p class="card-text">Aqui você pode vizualizar informações sobre os personagens!</p>
            </div>
            <button type="button" [routerLink]="[ '/characters' ]" class="btn btn-dark">Vizualizar</button>
        </div>
        <div class="card border-dark bg-light mb-3">
            <img class="card-img-top" src="assets/images/nave-sw.jpg" alt="Imagem Nave">
            <div class="card-body">
                <h5 class="card-title">Naves</h5>
                <p class="card-text">Aqui você pode vizualizar informações sobre as naves!</p>
            </div>
            <button type="button" [routerLink]="[ '/starships' ]" class="btn btn-dark">Vizualizar</button>
        </div>
        <div class="card border-dark bg-light mb-3">
            <img class="card-img-top" src="assets/images/planetas-sw.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Planetas</h5>
                <p class="card-text">Aqui você pode vizualizar informações sobre os planetas!</p>
            </div>
            
            <button type="button" [routerLink]="[ '/planets' ]" class="btn btn-dark">Vizualizar</button>
        </div>
    </div>
</div>